<h4 class="font-weight-lighter">About me</h4>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Profile</h5>
        <p class="card-text">
          Experienced software engineer with an international background.
        </p>
        <p class="card-text">
          Experience in designing, developing and implementing projects
          related to financial institutions and e-commerce.
        </p>
        <p class="card-text">
          Enthusiastic, positive and motivated, always curious to learn more.
        </p>
      </div>
    </div>
  </div>
</div>
