<ul class="nav flex-lg-column">
  <li class="nav-item">
    <a class="nav-link text-decoration-none text-dark" href="mailto:olof.nord@tutanota.com">Email</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-decoration-none text-dark" href="https://github.com/olof-nord" target="_blank">GitHub</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-decoration-none text-dark" href="https://www.linkedin.com/in/olofnord" target="_blank">LinkedIn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-decoration-none text-dark" href="https://twitter.com/olofnord" target="_blank">Twitter</a>
  </li>
</ul>
